
.mainDiv{
    position: fixed;
    margin-left : 35px;
    margin-top: 10px;
    /* border:1px solid turquoise; */
    width : 1325px;
    height: 550px;
    overflow-y: auto;
    border-radius: 10px;
}